<div class="row">
  <ul class="questions col-md-6">
    <h4 class="well">Top {{userSetting.n}} Users</h4>
    <li ng-repeat="data in topNUsers"
        class="thumbnail phone-listing">
        <p>{{data.user.name}}</p>
        <p>{{data.score}}</p>
      </a>
    </li>
  </ul>
  <ul class="questions col-md-6">
    <h4 class="well">With top {{userSetting.n1}}(above) and {{userSetting.n2}}(below) Users</h4>
    <li ng-repeat="data in topN1N2Users"
        class="thumbnail phone-listing">
        <p>{{data.user.name}}</p>
        <p>{{data.score}}</p>
      </a>
    </li>
  </ul>
</div> 