<section id="login">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="form-wrap">
                    <form id="login-form" ng-submit="signup(user)">
                        <div class="form-group">
                            <label for="name" class="sr-only">Name</label>
                            <input type="text" ng-model="user.name" id="name" class="form-control" placeholder="Name" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label for="email" class="sr-only">Email</label>
                            <input type="email" ng-model="user.email" id="email" class="form-control" placeholder="Email" ng-required="true">
                        </div>
                        <div class="form-group">
                            <label for="key" class="sr-only">Password</label>
                            <input type="password" ng-model="user.password" id="key" class="form-control" placeholder="Password" ng-required="true">
                        </div>
                        <input type="submit" id="btn-login" class="btn btn-custom btn-lg btn-block" value="Register">
                    </form>
                </div>
            </div> <!-- /.col-xs-12 -->
        </div> <!-- /.row -->
    </div> <!-- /.container -->
</section>
